.newsh1 {
    font-size: 64px;
}

.newsp {
    font-size: 30px;
}

.mainimg {
    width: 320px;
    height: 220px;
    border-radius: 20px;
}

.newscard {
    width: 320px;
    overflow: hidden;
}

.lectures {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 320px 60px 320px 60px 320px;
    grid-template-columns: 320px 320px 320px;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.newscard a {
    color: black;
    position: relative;
    z-index: 3;
}

.newscard a:hover span{
    bottom: 0;
}

.newscard span {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: -100px;
    z-index: 1;
    color: rgba(185, 185, 185);
}

.type {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 10px 10px;
}

.news-info {
    margin-left: 50px;
}

.news-info * {
    margin-right: 30px;
}

.news-info i {
    margin-right: 0;
}

.view-more-btn {
    font-size: 25px;
    width: 10em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: 'Times New Roman';
    text-transform: capitalize;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 0.8em;
    border: none;
    background:none;
}

.view-more-btn::before,
.view-more-btn::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    -webkit-transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    -o-transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.view-more-btn::before {left: 0; z-index: -1;}
.view-more-btn::after {right: 0; z-index: -2;}

.view-more-btn:hover {
    color: white;
    cursor: pointer;
}

.view-more-btn:hover::before,
.view-more-btn:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #FF0000;
}

.view-more-btn:hover::before {
    top: 0;
}

.view-more-btn:hover::after {
    right: -0.4em;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}

.newslinks a{
    margin-right: 10px;
    color: #00000099;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-size: 22px;
}

.newslinks {
    margin-bottom: 30px;
}

.newslinks a:hover {
    color: black;
}

.mobile-btn {
    display: none;
}

.-mobile-btn {
    display: inline-block;
}

.newscard-flex {
    display: block;
}

.display-none {
    display: none;
}

.main-mobile-img {
    height: 243px;
}

.main-mobile-card {
    width: 90%;
    margin: 20px auto;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 20px;
}

.main-news {
    width: 50%;
    margin: 50px auto;
}

.main-img-news {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 5px;
}

.main-news h1 {
    font-size: 36px;
}

.main-news p {
    font-size: 24px;
}
.main-news iframe {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.news-social-networks {
    gap: 30px;
    margin-bottom: 30px;
}

.news-social-networks a {
    font-size: 40px;
    color: black;
}

.hashtags {
    gap: 10px;
    border-bottom: 1px solid #C7C7C7;
}

.hashtags p {
    background-color: #C7C7C7;
    padding:5px 15px 7px;
    border-radius: 5px;
}

.share {
    gap: 15px;
    margin-top: 80px;
}

.share a {
    font-size: 30px;
    color: black;
}

.share p {
    margin: 0;
    margin-bottom: 5px;
}

.last-news-text {
    font-size: 32px;
}

.last-news {
    border-top: 1px solid #C7C7C7;
}

.last-news-flex {
    margin-top: 40px;
    gap: 80px;
}

.mobile-main-news {
    width: 90%;
    margin:0 auto 30px;
}

.mobile-main-news h1 {
    font-size: 20px;
}

.last-news-text {
    width: 90%;
    margin: auto;
}

.video-comments span {
    font-weight: 100;
}

.video-comments h1 {
    font-family: 'Times New Roman';
    font-size: 20px;
}

.main-lecture-img {
    width: 650px;
    height: 400px;
    border-radius: 10px;
    animation: toleftmainimg 1s 1;
}

.main-lecture-texts {
    text-align: left;
    width: 50%;
    animation: toleftmaintexts 1s 1;
}

@keyframes toleftmaintexts {
    0% {
        transform: translate(-1000px , 0);
    }
}

@keyframes toleftmainimg {
    0% {
        transform: translate(0, -1000px);
    }
}

.main-lecture {
    gap: 30px;
    overflow: hidden;
    margin-bottom: 40px;
}

.main-lecture-texts h1 {
    font-size: 36px;
}

.main-lecture-texts h3 {
    font-size: 25px;
}

.main-lecture-texts p {
    font-size: 24px;
}

.main-lecture-texts a {
    color: black;
}

.main-lecture-texts span {
    position: relative;
    color: #C7C7C7;
}

@media(max-width:650px) {
    .share p {
        font-size: 20px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .share {
        margin-top: 30px;
    }
    .hashtags p {
        font-size: 15px;
        padding: 2px;
        margin: 0;
    }
    
    .hashtags {
        padding: 10px 0;
        border-top: 1px solid #C7C7C7;
    }
    .news-social-networks {
        margin: 0;
        border: 1px solid #C7C7C7;
        border-radius: 5px;
        padding: 5px 0;
        gap: 10px;
    }
    .news-social-networks a {
        background-color: black;
        color: white;
        padding: 7px 10px;
        font-size: 20px;
        border-radius: 50%;
    }
    .type {
        width: 90px;
        font-size: 15px;
        text-align: center;
        padding: 5px 0 8px;
    }
    .main-img-news {
        width: 100%;
        height: 220px;
    }
    .last-news-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
        margin: 40px auto 0;
        gap: 20px;
    }
    .lectures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;
    }

    .mainimg {
        width: 150px;
        height: 100px;
    }
    .mobilecardh1 {
        font-size: 15px;
        margin-bottom: 30px;
        font-weight: 100;
        font-family: 'Times New Roman';
    }
    .newslinks a{
        margin-right: 0;
        font-size: 24px;
        padding: 5px 10px;
    }

    .newscard-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 15px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
    }

    .newscard .mobile {
        margin-bottom: 0;
    }

    .newscardtexts {
        width: 45%;
    }

    .newscardtexts h3 {
        margin-top: 0;
    }

    .newscardtexts a {
        position: relative;
        left: 40%;
    }

    .newscard {
        border-bottom: 1px solid #C7C7C7;
        padding-bottom: 20px;
        width: 100%;
    }

    .newscard span {
        position: static;
        color: #c30909;
    }

    .newscard:last-child {
        border: none
    }

    .newslinks {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 5px;
    }
    .mobile-btn {
        margin-top: 50px;
        display: inline-block;
        width: 250px;
        font-family: 'Times New Roman';
        font-size: 25px;
        height: 2.5em;
        border: 2px solid #FF0000;
        font-weight: 500;
        background-color: white;
        border-radius: 10px;
    }
    .not-mobile-btn {
        display: none;
    }
    .newsh1 {
        font-size: 30px;
    }
    .newsp {
        font-size: 15px;
    }
    .mobile-width {
        width: 85%;
        padding-top: 0;
    }
    
}

@media(max-width : 1300px) and (min-width:651px) {
    .lectures {
        -ms-grid-columns: 230px 30px 230px 30px 230px;
        grid-template-columns: 230px 230px 230px;
        gap: 30px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .main-lecture-texts {
        text-align: left;
        width: 70%;
        animation: toleftmaintexts 1s 1;
    }
    .newscard {
        width: 230px;
        overflow: hidden;
    }
    .mainimg {
        width: 230px;
        height: 230px;
    }
    .main-lecture-texts h1 {
        font-size: 25px;
    }

    .main-lecture-texts h3 {
        font-size: 20px;
    }

    .main-lecture-texts p {
        font-size: 17px;
    }

}

@media(max-height:450px) {
    .last-news-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
        margin: 40px auto 0;
        gap: 20px;
    }
    .lectures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;
    }

    .mainimg {
        width: 200px;
        height: 200px;
    }
    .mobilecardh1 {
        font-size: 15px;
        margin-bottom: 30px;
        font-weight: 100;
        font-family: 'Times New Roman';
    }
    .newslinks a{
        margin-right: 0;
        font-size: 24px;
        padding: 5px 10px;
    }

    .newscard-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 15px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .newscard .mobile {
        margin-bottom: 0;
    }

    .newscardtexts {
        width: 45%;
    }

    .newscardtexts h3 {
        margin-top: 0;
    }

    .newscardtexts a {
        position: relative;
        left: 70%;
    }

    .newscard {
        border-bottom: 1px solid #C7C7C7;
        padding-bottom: 20px;
        width: 100%;
    }

    .newscard span {
        position: static;
        color: #c30909;
    }

    .newscard:last-child {
        border: none
    }

    .newslinks {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 30px;
    }
    .mobile-btn {
        margin-top: 50px;
        display: inline-block;
        width: 250px;
        font-family: 'Times New Roman';
        font-size: 25px;
        height: 2.5em;
        border: 2px solid #FF0000;
        font-weight: 500;
        background-color: white;
        border-radius: 10px;
    }
    .not-mobile-btn {
        display: none;
    }
    .newsh1 {
        font-size: 30px;
    }
    .newsp {
        font-size: 15px;
    }
    .mobile-width {
        width: 85%;
        padding-top: 0;
    }
}

@media (min-width:1800px) {
    .main-lecture-texts h1 {
    font-size: 40px;
    }

    .main-lecture-texts h3 {
        font-size: 30px;
    }

    .main-lecture-texts p {
        font-size: 27px;
    }

    .main-lecture-texts a {
        color: black;
        font-size: 30px;
    }

    .main-lecture-texts span > i {
        font-size: 25px;
        position: relative;
        color: #C7C7C7;
    }
    .video-comments h1 {
        font-size: 30px;
    }
    .main-img-news {
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 700px;
        border-radius: 5px;
    }
    .main-news iframe {
        width: 100%;
        height: 650px;
        margin-top: 50px;
    }
    .lectures {
        -ms-grid-columns: 420px 30px 420px 30px 420px;
        grid-template-columns: 420px 420px 420px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .mainimg {
        width: 420px;
        height: 320px;
        border-radius: 20px;
    }

    .newscard {
        width: 420px;
        overflow: hidden;
    }

    .newscard p {
        font-size: 25px;
    }

    .newscard h1 {
        font-size: 35px;
    }

    .newscard a {
        font-size: 25px;
    }

    .newslinks a{
        font-size: 27px;
    }

}